<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
     <div class="row">
      <div class="col-xs-2">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= @log_file_name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% @web_logger.files.each do |file| %>
                <li><%= link_to file, tail.root_path(file_name: file, n: params[:n]) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <div class="nav navbar-nav navbar-right right_15">
        <div class="btn-group">
          <%= link_to tail.root_path(file_name: params[:file_name], n: (params[:n].to_i/1.5).to_i), id: 'less', class: 'btn btn-default navbar-btn' do %>
            Less <i class="glyphicon glyphicon-minus"></i>
          <% end %>
          <%= link_to tail.root_path(file_name: params[:file_name], n: (1.5 * params[:n].to_i).to_i), id: 'more', class: 'btn btn-default navbar-btn' do %>
            More <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </div>
        <div class="btn-group">
          <%= link_to tail.root_path(file_name: params[:file_name], n: params[:n]), class: 'btn btn-default navbar-btn' do %>
            Refresh <i class="glyphicon glyphicon-refresh"></i>
          <% end %>

          <%= link_to '#', class: 'btn btn-default navbar-btn' do %>
            Up <i class="glyphicon glyphicon-arrow-up"></i>
          <% end %>
        </div>
      </div>

      <form class="navbar-form-alt">
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :grep, nil, class: 'form-control', autofocus: true, autocomplete: "off" %>
            <span class="input-group-btn"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
